* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  overflow: hidden;
  -ms-overflow-style: none;
  overscroll-behavior: none;
}

body {
  font-family: Arial, sans-serif;
  background-color: skyblue;
}

#content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

button {
  border-radius: 0.5em;
  background-color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #eee;
}

button:disabled, button:disabled:hover {
  background-color: #ccc;
  cursor: not-allowed;
}

.invisible {
  display: none;
}